.idea

# Gradle cache files
/.gradle

# Log files
*/logs
*.log

# Build files
**/build

# Node cache files
**/node_modules

# Node cache files
**/package-lock.json

# Frontend build in backend module
**/static/**/*.*