@mixin mat_h1 {
    font-size: 36px;
    font-weight: 600;       // Title
    letter-spacing: 0px;
    line-height: 46px;
    @media screen and (max-width: 1199px) {
        font-size: 34px;
    }
    @media screen and (max-width : 767px) {
        font-size: 28px;
        line-height: 37px;
    }
}
@mixin mat_h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;       // Light
    letter-spacing: 0px;
    @media screen and (max-width: 1199px) {
        font-size: 30px;
    }
    @media screen and (max-width : 767px) {
        font-size: 24px;
    }
}
@mixin mat_h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    @media screen and (max-width: 1199px)  {
        font-size: 26px;
    };
    @media screen and (max-width : 767px) {
        font-size: 18px;
        line-height: 28px;
    };
}; 

@mixin devices_h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    @media screen and (max-width: 1199px) {
        font-size: 26px;
    };
    @media screen and (max-width : 767px) {
        font-size: 22px;
        line-height: 32px;
    };
};

@mixin base_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    @media screen and (max-width: 1199px) {
        line-height: 22px;
    };
    @media screen and (max-width : 767px) {
        line-height: 24px;
    };
};

@mixin mat_h4 {
    font-size: 34px;
    font-weight: bold;       // Title
    letter-spacing: 0px;
    line-height: 38px;
    @media screen and (max-width: 1199px) { 
        font-size: 32px;
    }
}
@mixin mat_h5 {
    font-size: 24px;
    font-weight: 400;       // Regular
    letter-spacing: 0px;
    //______________________
    line-height: 32px;      // XZ
}
@mixin mat_h6 {
    font-size: 20px;
    font-weight: 500;       // Medium
    letter-spacing: 0px;
    //______________________
    line-height: 26px;      // XZ
    margin-bottom: 24px;    // XZ
}
@mixin mat_subtitle1 {
    font-size: 18px;
    font-weight: 400;       // Regular
    letter-spacing: 0px;
    //______________________
    line-height: 28px;      // XZ
    margin-bottom: 24px;    // XZ
    @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 24px;
    }
}
@mixin mat_subtitle2 {
    font-size: 14px;
    font-weight: 500;       // Medium
    letter-spacing: 0px;
}
@mixin mat_body1 {
    font-size: 16px;
    font-weight: 400;       // Regular
    letter-spacing: 0px;
    line-height: 28px;
    margin-bottom: 24px;
    @media screen and (max-width : 767px) {
        font-size: 14px;
        line-height: 26px;
    }
}
@mixin mat_body2 {
    font-size: 14px;
    font-weight: 400;       // Regular
    letter-spacing: 0px;
    //______________________
    line-height: 20px;      // XZ
    margin-bottom: 24px;    // XZ
}
@mixin mat_button {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;       // Medium
    letter-spacing: 0px;
    text-transform: uppercase;
}