@import '../../../../styles/typography';

.container-wr {
    width: 100%;
    .first-half, .second-half {
        display: flex;
        flex-direction: column;

        &_header {
            display: flex;
            justify-content: space-between;
            background: $color-base4;
            padding: 8px 15px;
            @include medium_text;
            color: $color-white;
        };

        &_body {
            // min-height: 50px;
            display: flex;
            flex-direction: column;
            background: $color-white;
            color: $color-text-1;
            .event {
                color: $color-main;
                @include default_text;
                padding: 8px 15px;
                border-bottom: 1px solid $color-main;
                width: 100%;

                &.right {
                    display: flex;
                    justify-content: flex-end;
                };
            };
        };
    };
};
